/* Generic Selectors */
html, body {
   height: 150%;
   width: 150%;
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 14px;
   color: #333333;
   background-color: #F9F9F9;}

p {
   width: 180%;
}
td{
   width: 180px;
}
select{
   width: 160px;
}
li {
   color: #cccccc;
   list-style-type: disc;
   line-height: 150%;
}

h1 {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 18px;
   font-weight: bold;
   color: #777700;
}

h2 {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 16px;
   font-weight: bold;
   color: #000000;
   border-bottom: 1px solid blue;
}
h3 {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 16px;
   font-weight: bold;
   color: #aaaaaa;
   border-bottom: 1px solid blue;
}

/**************** Pseudo classes ****************/

a:link {
   color: #555555;
   font-weight: bold;
}

li :link {
   color: #555555;
   text-decoration: none;
   font-weight: bold;
}

a:visited {
   color: #555555;
   font-weight: bold;
}

li a:visited {
   color: #555555;
   text-decoration: none;
   font-weight: bold;
}

a:hover {
   color: rgb(0, 96, 255);
   /* padding-bottom: 5px; */
   font-weight: bold;
}

li a:hover {
   display: block;
   color: rgb(0, 96, 255);
   /*padding-bottom: 5px; */
   font-weight: bold;
   /*border-bottom-width: 1px;*/
   /*border-bottom-style: solid;
   border-bottom-color: #ecECec;*/
}

a:active {
   color: rgb(255, 0, 102);
   font-weight: bold;
}
img {
   max-width: 100%;
   height: auto;
}
input{
   height: 60px;
   width: 120px;
}
/************************* ID's *************************/
#wrap1 {
   position: absolute;
   left: 10px;
   top: 200px;
}
#wrap2 {
   position: absolute;
   left: 130px;
   top: 200px;
}
#wrap3 {
   position: absolute;
   left: 310px;
   top: 200px;
}
#wrap4 {
   position: absolute;
   left: 430px;
   top: 200px;
}
#wrap5 {
   position: absolute;
   left: 10px;
   top: 360px;
}
#ein {
   font-size: 18px;
   width: 240px;
   height: 30px;
}
#los{
     width: 120px;
   height: 30px;

}
#navigation {
   position: absolute;
   width: 180px;
   height: 700px;
   margin: 0;
   margin-top:50px;
   border-right: 3px solid blue;
   font-weight: normal;
}

#centerDoc {
   position: absolute;
   padding: 0 0 20px 0; /*top right bottom left*/
   margin-top: 20px;
   margin-left: 200px;
}
