/* Generic Selectors */
html, body {
   height: 150%;
   width: 150%;
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 14px;
   color: #333333;
   background-color: #F9F9F9;}
h1 {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 18px;
   font-weight: bold;
   color: #777700;
}
input{
   height: 60px;
   width: 120px;
   font-size:16px;
}
/************************* ID's *************************/
#wrap1 {
   position: absolute;
   left: 10px;
   top: 200px;
}
#wrap2 {
   position: absolute;
   left: 130px;
   top: 200px;
}
#wrap3 {
   position: absolute;
   left: 310px;
   top: 200px;
}
#wrap4 {
   position: absolute;
   left: 430px;
   top: 200px;
}
input#wrap5 {font-size: 16px;}
#14 {font-size: 12px;}

#wrap5 {
   position: absolute;
  font-size: 16px;
   left: 10px;
   top: 360px;
}
#ein {
   font-size: 20px;
   width: 240px;
   height: 30px;
}
#los{
   width: 120px;
   height: 30px;
}
