/* Generic Selectors */
html, body {
   height: 80%;
   width: 80%;
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 14px;
   color: #333333;
   background-color: #F9F9F9;}
h1 {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 18px;
   font-weight: bold;
   color: #777700;}

/**************** Pseudo classes ****************/
input{
   height: 10%;
   width: 20%;}
/************************* ID's *************************/
#wrap1 {
    position: absolute;
   left: 2%;
   top: 25%;
   height: 100%;
   width: 100%;
}
#wrap2 {
   position: absolute;
   left: 26%;
   top: 25%;
   height: 100%;
   width: 100%;
}
#wrap3 {
   position: absolute;
   left: 62%;
   top: 25%;
   height: 100%;
   width: 100%;
}
#wrap4 {
   position: absolute;
   left: 86%;
   top: 25%;
   height: 100%;
   width: 100%;
}
#wrap5 {
   position: absolute;
   left: 2%;
   top: 60%;
   height: 100%;
   width: 100%;
}
#wrap6 {
   position: absolute;
   left: 2%;
   top: 10%;
   height: 100%;
   width: 100%;
}
/*#ein {
   font-size: 18px;
   width: 48%;
   height: 6%;}
#los{
   width: 24%;
   height: 6%;}*/
