<!doctype html>
<html>
<title>{% block title %}{% endblock %} - Beregnung</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styleRegen.css') }}">
  <h1>Steuerung der Beregnung </h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
       {% if register  %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
        {% endif %}
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
</html>